body {
  background-image: url("blackBG2.jpg");
  font-family: 'Ubuntu';
  background-size: auto;
  color:yellow;
}
h1 {
  color: green;
}
#win {
  color: green;
}
#loose {
  color: red;
}
#cchoice {
  color: purple
}
#shifumiBou {
  color:yellow;
  font: bold small 'trebuchet ms',helvetica,sans-serif;
  background: black;
} 
#artii {
  color:yellow;
}
.trans:hover {
  transition: all 0.7s;
  transform: translate3d(-197px,65px,50px) scale3d(3,8,3);
  border-radius: 80%;
}
.rotateImg {
  animation-name: coeur;
  perspective: 600px;
  animation-duration: 8s;
  animation-delay: 3s;
  transition:all 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} 
@keyframes coeur{
  from{
    transform: translate(0px,0px) scale3d(1,1,1) transform: rotate3d(1,1,1,0deg);
  }to{
    transform: translate(-167px,-65px) scale3d(3,1,5) rotate3d(1,1,1,220deg);
  }
}
.logo {
  margin:.25em;
  font-size:1.5em;
  padding:.1em .5em .2em .5em;
  color:white;

  background: rgb(77,144,254);
  background: -moz-linear-gradient(rgba(77,144,254,.8), rgba(71,135,237,1));
  background: -ms-linear-gradient(rgba(77,144,254,.8), rgba(71,135,237,1));
  background: -o-linear-gradient(rgba(77,144,254,.8), rgba(71,135,237,1));
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(77,144,254,.8)), to(rgba(71,135,237,1)));
  background: -webkit-linear-gradient(rgba(77,144,254,.8), rgba(71,135,237,1));
  background: linear-gradient(rgba(77,144,254,.8), rgba(71,135,237,1));

  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: .1em .1em .5em rgba(0,0,0, 0.4);
  box-shadow: .1em .1em .5em rgba(0,0,0, 0.4);

  text-shadow:  0 2px 2px rgba(0,0,0, 0.4);
}
#fun {
  
}
#heart{
}
