body {
  background-image: url("blackBG2.jpg");
  font-family: 'Ubuntu';
  background-size: cover;
  color:yellow;
}

h1 {
  color: green;
}

#win {
  color: green;
}

#loose {
  color: red;
}
#cchoice {
  color: purple
}

#shifumiBou {
   color:yellow;
   font: bold small 'trebuchet ms',helvetica,sans-serif;
} 
